<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OrcaMypage</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/DJ/css/mypage.css}'>

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"></script>
</head>
<header class="he">
    <div class="cnt">
        <a th:href="@{/orca/home.do}">
            <h3>Orca</h3>
        </a>
        <nav>
            <ul id="topMenu">
                <li><a th:href="@{/orca/history.do}">회사소개</a>
                    <ul> <!-- 순서없는 리스트 -->
                        <li><a th:href="@{/orca/history.do}">연혁</a></li> <!-- li = º 이모양 -->
                        <li><a th:href="@{/orca/organization.do}">조직도</a></li>
                        <li><a th:href="@{/orca/ci.do}">CI</a></li>
                        <li><a th:href="@{/orca/introduce.do}">인사말</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/orca/location.do}">해운정보</a>
                    <ul>
                        <li><a th:href="@{/orca/location.do}">배송</a></li>
                        <li><a th:href="@{/orca/company/estimatepage.do}">주문</a></li>
                        <li><a th:href="@{/orca/company/cargoorderlist.do}">조회</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/orca/operation.do}">사업분야</a>
                    <ul>
                        <li><a th:href="@{/orca/operation.do}">항만운영</a></li>
                        <li><a th:href="@{/orca/operationequip.do}">항만운영장비</a></li>
                        <li><a th:href="@{/orca/harborloading.do}">항만하역</a></li>
                        <li><a th:href="@{/orca/portauxiliarybusiness.do}">항만부대사업</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/orca/schedulelist.do}">운행정보</a></li>
            </ul>
        </nav>


        <aside class="top_menu">
            <div th:if="${user == null}" class="a">
                <ul class="btns">
                    <a href="#" id="search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                    <li class="login"><a th:href="@{/orca/login.do}">LOGIN</a></li>
                    <li class="join"><a th:href="@{/orca/join.do}">JOIN</a></li>
                    <li class="mypage"><a th:href="@{/orca/company/mypage.do}">MYPAGE</a></li>
                </ul>
                </div>

                <div th:if="${user != null}">
                    <ul class="btns">
                        <li th:text="${user.id}" class="username"></li>
                        <li class="mypage"><a th:href="@{/orca/company/mypage.do}">MYPAGE</a></li>
                        <form th:action="@{/logout.do}" method="post">
                            <li class="logout"><input type="submit" value="LOGOUT" class="logout2" /></li>
                        </form>
                    </ul>
                </div>
            </ul>
        </aside>
    </div>
</header>

<body>
    <div class="my-page">
        <div class="my-header">
            <div class="my-tex">
                <span>MYPAGE</span>
                <hr>
            </div>
        </div>
        <div class="my-body">
            <div class="my-wrap">
                <div class="my-box">
                    <img th:src="@{/orca/company/image(id=${id})}" style="width:150px; height:170px" />
                    <div class="my-info">
                        아이디 : <span th:text="${user.id}"></span><br/><br/>
                        주소 : <span th:text="${user.address}"></span> <br/><br/>
                        <div th:if="${user.role eq 'COMPANY'}">
                            사업자등록번호 : <span th:text="${user.brn}"></span><br/><br/>
                        </div>
                        연락처 : <span th:text="${user.phone}"></span><br/><br/>

                        <div class="my-btn" style="display: inline;" >
                            <div th:if="${user.role eq 'COMPANY'}" >
                                <button id="infoup">
                                    <a th:href="@{/orca/company/mypage/updateinfo.do}">정보수정</a>
                                </button>
                                <button id="infoup">
                                    <a th:href="@{/orca/company/updatepw.do}">비밀번호변경</a>
                                </button>
                                <button id="infoup">
                                    <a th:href="@{/orca/company/deactive.do}">회원탈퇴</a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="or-box">
            <div class="or-bt">
                <div class="bt1">
                    <div class="btn txt1">
                        <div class="icon1">
                        </div>
                        <p>주문 접수 대기</p><a th:href="@{mypage.do(menu=1,page=1)}"><span
                                th:text="${cargoCount}"></span></a>
                    </div>
                </div>

                <div class="bt1">
                    <div class="btn txt2">
                        <div class="icon2">
                        </div>
                        <p>주문 심사 중</p><a th:href="@{mypage.do(menu=2,page=1)}"><span
                                th:text="${estimateCount}"></span></a>
                    </div>
                </div>

                <div class="bt1">
                    <div class="btn txt3">

                        <div class="icon3">
                        </div>
                        <p>주문 심사 완료</p><a th:href="@{mypage.do(menu=3,page=1)}"><span
                                th:text="${countState}"></span></a>
                    </div>
                </div>
            </div>
            <div th:if="${#strings.equals(param.menu,'1')}" id="menu1table">
                <th:block th:replace="~{DJ/Orca_WaitingforOrder}"></th:block>
            </div>
            <div th:if="${#strings.equals(param.menu,'2')}" id="menu2table">
                <th:block th:replace="~{DJ/Orca_DecisionInProcess}"></th:block>
            </div>
            <div th:if="${#strings.equals(param.menu,'3')}" id="menu3table">
                <th:block th:replace="~{DJ/Orca_ReviewCompleted}"></th:block>
            </div>
        </div>

    </div>
    <script type="text/javascript">

        function logoutAction() {
            // <form action="logout.do" method="post" display="none" ></form>
            var form = document.createElement("form");
            form.setAttribute("action", "orcalogout.do");
            form.setAttribute("method", "post");
            form.style.display = "none";
            // 위에 생성된 form을 body안에 자식으로 추가시킴
            document.body.appendChild(form);
            // form을 실행시킴
            form.submit();
        }

    </script>
</body>
<footer id="footer">
    <div class="text_box">
        <p>
            <span>이메일 : adsfadf@naver.com</span><br>
            <span>Address : 부산 남구 신선로 365 부경대학교 </span><br>
            <span>call : 000-0000-0000</span>
        </p>
    </div>
    </div>
</footer>

</html>

<script>

    // 스크롤시 헤더 색상 변경
    $(window).on('scroll', function () {
        if ($(window).scrollTop()) {
            $('header').addClass('active');
        } else {
            $('header').removeClass('active');
        }
    });
</script>