<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
</head>
<body>
    
    <table>
        <caption>주문 심사 중</caption>
        <thead>
            <tr>
                <th>견적번호</th>
                <th>주문자아이디</th>
                <th>부담금액</th>
                <th>항만시설사용료</th>
                <th>운행시퀀스</th>
                <th>화물번호</th>
                <th>진행상태</th>
                <th>견적일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="obj:${elist}">
                <td th:text="${obj.estimateno}"></td>
                <td th:text="${obj.id}"></td>
                <td th:text="${obj.totalfare}"></td>
                <td th:text="${obj.portfacfare}"></td>
                <td th:text="${obj.schedule.scheduleno}"></td>
                <td th:text="${obj.cargo.cargonumber}"></td>
                <td th:text="${obj.state}"></td>
                <td th:text="${obj.estimatedate}"></td>
            </tr>
        </tbody>
    </table>
    <div id="pagenation">
        <th:block th:each="num : ${#numbers.sequence(1,epages)}">
            <a th:href="@{/orca/company/mypage.do(menu=${param.menu}, page=${num})}" th:text="${num}"></a>
        </th:block>
    </div>
</body>
</html>