<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orca</title>
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel='stylesheet' type='text/css' media='screen' th:href='@{/SG/css/schedule.css}'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='/src/main/resources/static/SG/css/schedule.css'> -->


    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.4.js"
        integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
</head>
<header class="he">
    <div class="cnt">
            <a th:href="@{/orca/admin/home.do}"><h3>Orca</h3></a>
            <nav>
               <ul id="topMenu">
                    <li><a th:href="@{/orca/history.do}">회사소개</a>
                        <ul> <!-- 순서없는 리스트 -->
                            <li><a th:href="@{/orca/history.do}">연혁</a></li> <!-- li = º 이모양 -->
                            <li><a th:href="@{/orca/organization.do}">조직도</a></li>
                            <li><a th:href="@{/orca/ci.do}">CI</a></li>
                            <li><a th:href="@{/orca/introduce.do}">인사말</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/orca/location.do}">해운정보</a>
                        <ul>
                            <li><a th:href="@{/orca/location.do}">배송</a></li>
                            <li><a th:href="@{/orca/company/estimatepage.do}">주문</a></li>
                            <li><a th:href="@{/orca/company/cargoorderlist.do}">조회</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/orca/operation.do}">사업분야</a>
                        <ul>
                            <li><a th:href="@{/orca/operation.do}">항만운영</a></li>
                            <li><a th:href="@{/orca/operationequip.do}">항만운영장비</a></li>
                            <li><a th:href="@{/orca/harborloading.do}">항만하역</a></li>
                            <li><a th:href="@{/orca/portauxiliarybusiness.do}">항만부대사업</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/orca/admin/schedule.do}">운행정보</a></li>
                </ul>               
            </nav>
            <aside class="top_menu">
                <div th:if="${user == null}" class="a">
                    <ul class="btns">
                        <a href="#" id="search"><i class="fa-solid fa-magnifying-glass fa-lg"></i></a>
                        <li class="login"><a th:href="@{/orca/login.do}">LOGIN</a></li>
                        <li class="join"><a th:href="@{/orca/join.do}">JOIN</a></li>
                        <li class="mypage"><a th:href="@{/orca/company/mypage.do}">MYPAGE</a></li>
                    </ul>
                    </div>
    
                    <div th:if="${user != null}">
                        <ul class="btns">
                            <li th:text="${user.username}" class="username"></li>
                            <form th:action="@{/logout.do}" method="post">
                                <li class="logout"><input type="submit" value="LOGOUT" class="logout2" /></li>
                            </form>
                        </ul>
                    </div>
                </ul>
            </aside>
    </div>
</header>

<body>
    <div class="my-page">
        <div class="my-header">
            <div class="my-tex">
                <i class="fa-solid fa-file-circle-plus fa-2xl"></i>
                <span>신청/화물정보</span>
            </div>
        </div>
        <form th:action="@{/orca/admin/car_assignment.do}" method="post" id="form1">
            <div class="or-box">
                <div class="or-table">
                    <div class="ot">
                        <table class="table table-hover">
                            <thead class="ot1">
                                <tr>
                                    <th>화물분류</th>
                                    <th>화물무게</th>
                                    <th>목적지명</th>
                                </tr>
                            </thead>
                            <tbody class="ot1 ipt-box">
                                <tr>
                                    <td th:text="${cargotype}" th:value="${cargotype}"></td>
                                    <td th:text="${cargoweight}"></td>
                                    <td th:text="${destination}"></td>
                                    <input type="hidden" name="cargoweight" th:value="${cargoweight}"/>
                                    <input type="hidden" name="destination" th:value="${destination}"/>
                                    <input type="hidden" name="transportcharge" th:value="${transportcharge}"/>
                                    <input type="hidden" name="application.applicationno" th:value="${applicationno}"/>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="my-header">
                <div class="my-tex">
                    <i class="fa-solid fa-file-circle-plus fa-2xl"></i>
                    <span>차량배정</span>
                </div>
            </div>
            <div class="or-box">
                <div class="or-table">
                    <div class="ot">
                        <table class="table table-hover">
                            <thead class="ot1">
                                <tr>
                                    <th>선택</th>
                                    <th>차량번호</th>
                                    <th>하역장소</th>
                                    <th>기사</th>
                                    <th>차량종류</th>
                                    <th>적재무게</th>
                                </tr>
                            </thead>
                            <tbody class="ot1">
                                <tr th:each="list : ${list}">
                                    <td><input type="radio" name="number" th:value="${list.number}"></td>
                                    <td th:text="${list.number}"></td>
                                    <td th:text="${list.unloadplace}"></td>
                                    <td th:text="${list.rider}"></td>
                                    <td th:text="${list.vehicletype}"></td>
                                    <td th:text="${list.weight}"></td>
                                    <input type="hidden" name="weight" th:value="${list.weight}"/>
                                    

                                </tr>
                                </c:forEach>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="ok">
                    <div class="btn-ok1">
                        <input type="button" value="선택" class="update" onclick="InsertAction()"/>
                    </div>
                </div>
            </div>
        </form>
        <!-- <th:block th:each="num : ${#numbers.sequence(1, pages)}">
            <a th:href="@{/orca/admin/car_assignment.do(page=${num})}" th:text="${num}"></a>
        </th:block> -->
    </div>
</body>
<footer id="footer">
    <div class="text_box">
        <p>
            <span>이메일 : adsfadf@naver.com</span><br>
            <span>Address : 부산 남구 신선로 365 부경대학교 </span><br>
            <span>call : 000-0000-0000</span>
        </p>
    </div>
    </div>
</footer>

</html>

<script>
    // 스크롤시 헤더 색상 변경
    $(window).on('scroll', function () {
        if ($(window).scrollTop()) {
            $('header').addClass('active');
        } else {
            $('header').removeClass('active');
        }
    });


    function InsertAction() {

    document.getElementById("form1").submit();
    }
</script>