<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.JH.mapper.JHScheduleMapper">

<select id="totalFilterDepartureAndArrival" parameterType="com.finalproject.SG.dto.Schedule" resultType="long">
        SELECT count(*) FROM SCHEDULE WHERE departureport=#{departureport} AND arrivalport=#{arrivalport}
</select>

</mapper>
